@font-face {
    font-family:"popins";
    src: url("../../../Poppins-font/Poppins-Regular.ttf");
}
@font-face {
    font-family: "roboto";
    src: url("../../../Roboto/Roboto-Regular.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(34, 34, 34);
    color: #fff;
    font-family:"popins" , sans-serif ;
    width: 100vw;

}
/* Header Css */
.header{
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
}
.header-logo img{
    width: 7.25rem;
    height: 1.625rem;
    position: relative;
    top: 1.75rem;
    left: 32px;
}
.header-list{
    display: flex;

}
.header-list ul{
    display: flex;
    justify-content: space-evenly;
}
.header-list ul li{
    list-style: none;
    cursor: pointer;
    position: relative;
    top: 2rem;
    padding-right: 40px;
    &:hover{
        text-decoration: underline;
    }
}
.main-heading{
    font-family:"roboto", sans-serif ;
    font-weight: 400;
    word-spacing: 0.4rem;
    text-align: center;
    font-size: 3rem;
    width: 805;
}
/* section 1 */
.section-1{
    margin-top:8.5rem;
    height: 11.5rem;

}
.main-heading span{
    font-weight: 700;
}
.section1-btn{
    display: flex;
    justify-content: center;

}
.section1-btn button{
    width: 9.375rem;
    height: 3.125rem;
    border-radius: 1.875rem;
    border: none;
    border: 1px solid #ffffff;
    background: linear-gradient(135deg,#CC2B5E,#753A88);
    color: #ffff;
    font-weight: 700;
    margin-top: 1rem;
    cursor: pointer;
}
/* section 2 */
.section-2{
    display: flex;

}
.decript-right{
    width: 11.25rem;
    height: 5.625rem;
    margin-left: 2rem;
    font-family: "roboto";
    margin-top: 2.5rem;
}
.decript-left{
    height: 5.625rem;
    font-family: "roboto";
    margin-top: 2.5rem;
    margin-right: 2rem;
    width: 8rem;

}


.decript-right p{
    padding-bottom: 2px;
}

.engine{
    color:#FF453A;
    font-family: "roboto";
    font-size: 1.625rem;
    font-weight: 300px;
    line-height: 30px;

}
.hp{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;

}
.kmpl{
    font-size: 16px;
    color: rgb(190, 173, 173);

}
.section2-img img{
    width: 62.5rem;
    height: 28.313rem;
    position: relative;
    top: -60px;
    left: -50px;
}
/* footer */
.icon-social{
    margin-left: 32px;
}
.icon-social i{
    cursor: pointer;
    margin-left:6px;
}


